body {
    background-color: blanchedalmond;
    text-align: center;
}
img {
    width: 400px;
    height: 500px;
    text-align: center;
}
p1 {
    font-size:140%
}
alan turing at sixteen {
    width:200px;
    height:300px
}
alan turing statue {
    width:300px;
    height:400px
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  margin: auto;
}
th, td {
  padding: 15px;
  text-align: center;
  background-color: #f1f1c1;
  border: 1px solid black;
  margin: auto;
}